@{
    ViewData["Title"] = "Home Page";
}

<h1>Cookie Demo</h1>
@using (Html.BeginForm())
{
    <div class="text-center">
        Enter your Email :<input type="text" name="email" id="email" />
        <br />
        <input type="submit" value="Set Cookie" />
    </div>
}

