
@{
    ViewData["Title"] = "WorkingWithSession";
}


<h1>Working With Session</h1>

@using (Html.BeginForm())
{
    <div class="text-center">
        Enter your Email :<input type="text" name="email" id="email"/>
        <br/>
        <input type="submit" value="Set Session"/>
    </div>
}
